@use "../variables/default" as vd;
@use "../functions/index" as fi;
@use "./gen-mixins/float" as gm;

$float-options: (prefix: vd.$prefix);

@include gm.float(12, $float-options);

@for $i from 1 through 12 {
	#{vd.$computed-prefix}fl-#{$i}\/12 {
		float: left;
		width: fi.percentw($i, 12);
	}
}

#{vd.$computed-prefix}clearfix::before,
#{vd.$computed-prefix}clearfix::after {
	display: table;
	content: " ";
}

#{vd.$computed-prefix}clearfix::after {
	clear: both;
}

#{vd.$computed-prefix}fl-row::before,
#{vd.$computed-prefix}fl-row::after {
	display: table;
	content: " ";
}

#{vd.$computed-prefix}fl-row::after {
	clear: both;
}

#{vd.$computed-prefix}fl-row {
	padding: 0;
	margin: 0;
}

#{vd.$computed-prefix}fr {
	float: right;
}

#{vd.$computed-prefix}fl {
	float: left;
}
