@use "../variables/default" as vd;
@use "../mixins/common" as mc;

@each $suffix, $value in (
	l: left,
	r: right,
	c: center,
	j: justify,
	s: start,
	e: end,
	ja: justify-all,
	mp: match-parent
) {
	#{vd.$computed-prefix}ta-#{$suffix} {
		text-align: $value !important;
	}
}

#{vd.$computed-prefix}tdl-lt {
	text-decoration-line: line-through;
}

#{vd.$computed-prefix}tdl-ul {
	text-decoration-line: underline;
}

#{vd.$computed-prefix}tdl-ol {
	text-decoration-line: overline;
}

#{vd.$computed-prefix}tdl-n {
	text-decoration-line: none;
}

#{vd.$computed-prefix}ws-nw {
	white-space: nowrap;
}

#{vd.$computed-prefix}line-nowrap {
	white-space: nowrap !important;
}

#{vd.$computed-prefix}line-wrap {
	word-break: break-all;
	overflow-wrap: break-word;
	text-wrap: wrap;
}

#{vd.$computed-prefix}line-1 {
	@include mc.common-text-line(1);
}

#{vd.$computed-prefix}line-2 {
	@include mc.common-text-line(2);
}
