@use "sass:map";
@use "sass:list";
@use "../../functions/index" as fi;

$base-options: ("name": border-radius);

// 如输出全局g-br-#{值}
@mixin border-radius($list, $options: ()) {
	$options: fi.merge($base-options, $options);
	$prefix: fi.prefix($base-options, $options);

	@for $i from 1 through list.length($list) {
		$value: list.nth($list, $i);
		$_value: fi.unitfix($value, $options);
		$suffix: fi.suffix($value, $options);
		#{$prefix}#{$suffix} {
			border-radius: $_value;
		}
	}
}
