@use 'sass:math';
@use "../../functions/index" as fi;

$base-options: null;

// 输出全局栅格，浮动
@mixin float($total, $options: ()) {
	$prefix: fi.prefix($base-options, $options);

	%float {
		float: left;
	}

	@for $i from 1 through $total {
		#{$prefix}w-#{$i} {
			width: fi.percentw($i, $total);
		}
		#{$prefix}fw-#{$i} {
			@extend %float;
			@extend #{$prefix}w-#{$i};
		}
	}
}
