@use "sass:map";
@use "sass:list";
@use "../../functions/index" as fi;

$base-options: ("name": line-height);

// 如输出全局g-lh-#{值}
@mixin line-height($list, $options: ()) {
	$options: fi.merge($base-options, $options);
	$prefix: fi.prefix($base-options, $options);

	@for $i from 1 through list.length($list) {
		$value: list.nth($list, $i);
		$_value: fi.unitfix($value, $options);
		$suffix: fi.suffix($value, $options);
		#{$prefix}#{$suffix} {
			line-height: $_value;
		}
	}
}
