@import "../variables/default";
@import "../mixins/common";
@import "../functions/helper";
@import "../functions/theme";

$color: themefix(border-color-default);

#{$computed-prefix}b {
	@include common-border-1px('', $color);
}
#{$computed-prefix}bb {
	@include common-border-1px(bottom, $color);
}

#{$computed-prefix}br {
	@include common-border-1px(right, $color);
}

#{$computed-prefix}bl {
	@include common-border-1px(left, $color);
}

#{$computed-prefix}bt {
	@include common-border-1px(top, $color);
}

#{$computed-prefix}br-circle {
	border-radius: 100% !important;
}
#{$computed-prefix}br-sem {
	border-radius: themefix(border-radius-default) !important;
}
