@use "../variables/default" as vd;
@use "./gen-mixins/float" as gm;

$float-options: (prefix: vd.$prefix);

@include gm.float(12, $float-options);

#{vd.$computed-prefix}clearfix::before,
#{vd.$computed-prefix}clearfix::after,
#{vd.$computed-prefix}row::before,
#{vd.$computed-prefix}row::after {
	display: table;
	content: " ";
}

#{vd.$computed-prefix}clearfix::after,
#{vd.$computed-prefix}row::after {
	clear: both;
}

#{vd.$computed-prefix}row {
	padding: 0;
	margin: 0;
}

#{vd.$computed-prefix}fr {
	float: right;
}

#{vd.$computed-prefix}fl {
	float: left;
}
