@use "sass:meta";
@use "sass:list";
@import "../variables/default";
@import "./gen-mixins/font-size";

$font-size-list: 10, 12, 13, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 48, 50, 60, 70, 80, 90, 100 !default;

@if $scale > 1 {
	$font-size-list: list.join($font-size-list, (8, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 39));
}

$font-size-join-data: false !default;

@if $font-size-join-data and meta.type-of($font-size-join-data) == 'list' {
	$font-size: list.join($font-size, $font-size-join-data);
}

$font-size-options: (unit: $unit, scale: $scale, prefix: $prefix, name: fs);

// 输出全局g-fs-#{值}
@include font-size($font-size-list, $font-size-options)
