@use "sass:list";
@use "../variables/default" as vd;
@use "./gen-mixins/font-weight" as gm;

$font-weight-list: bold, 400, 500, 600, 700 !default;
$font-weight-list-join-data: false !default;

@if $font-weight-list-join-data and meta.type-of($font-weight-list-join-data) == 'list' {
	$font-weight-list: list.join($font-weight-list, $font-weight-list-join-data);
}

// 强制scale为1
$font-weight-options: (unit: vd.$unit, scale: 1, prefix: vd.$prefix, name: fw);

// 输出全局g-lh-#{值}
@include gm.font-weight($font-weight-list, $font-weight-options);