@use "sass:list";
@use "../variables/default" as vd;
@use "../functions/theme" as ft;
@use "./gen-mixins/line-height" as gm;

$line-height-list: 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 60, 72, 80, 88, 120 !default;

@if vd.$scale > 1 {
	$line-height-list: list.join($line-height-list, (8, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 39));
}

$line-height-list-join-data: false !default;

@if $line-height-list-join-data and meta.type-of($line-height-list-join-data) == 'list' {
	$line-height-list: list.join($line-height-list, $line-height-list-join-data);
}

$line-height-options: (unit: vd.$unit, scale: vd.$scale, prefix: vd.$prefix, name: lh);

// 输出全局g-lh-#{值}
@include gm.line-height($line-height-list, $line-height-options);

/**
 * 两行文字 限高
 */
#{vd.$computed-prefix}lh-two {
	height: calc(ft.themefix(line-height-limit) * 2);
	line-height: ft.themefix(line-height-limit);
}

/**
 * 一行文字 限高
 */
#{vd.$computed-prefix}lh-one {
	height: ft.themefix(line-height-limit);
	line-height: ft.themefix(line-height-limit);
}

#{vd.$computed-prefix}lh-default {
	line-height: ft.themefix(line-height-default);
}

#{vd.$computed-prefix}lh-1 {
	line-height: 1;
}