@use "../variables/default" as vd;

#{vd.$computed-prefix}fixed {
	position: fixed !important;
}
#{vd.$computed-prefix}relative {
	position: relative !important;
}

#{vd.$computed-prefix}absolute {
	position: absolute !important;
}

#{vd.$computed-prefix}fixed-full {
	position: fixed !important;
	inset: 0;
}

#{vd.$computed-prefix}absolute-full {
	position: absolute !important;
	inset: 0;
}
