@import "../variables/default";

#{$computed-prefix}fixed {
	position: fixed !important;
}
#{$computed-prefix}relative {
	position: relative !important;
}

#{$computed-prefix}absolute {
	position: absolute !important;
}

#{$computed-prefix}fixed-full {
	position: fixed !important;
	inset: 0;
}

#{$computed-prefix}absolute-full {
	position: absolute !important;
	inset: 0;
}
