@import "../variables/default";
@import "../mixins/common";

#{$computed-prefix}tc {
	text-align: center !important;
}

#{$computed-prefix}tl {
	text-align: left !important;
}

#{$computed-prefix}tr {
	text-align: right !important;
}

#{$computed-prefix}td-lh {
	text-decoration: line-through !important;
}

#{$computed-prefix}td-ul {
	text-decoration: underline !important;
}

#{$computed-prefix}nowrap {
	white-space: nowrap !important;
}

#{$computed-prefix}break {
	word-break: break-all;
	word-wrap: break-word;
}

// 不建议给节点加高度
#{$computed-prefix}break-all {
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

/**
 * 一行文字
 */
#{$computed-prefix}line-one {
	@include common-text-line(1);
}

/**
 * 两行文字
 */
#{$computed-prefix}line-two {
	@include common-text-line(2);
}
