@use "../variables/default" as vd;
@use "../mixins/common" as mc;

#{vd.$computed-prefix}tc {
	text-align: center !important;
}

#{vd.$computed-prefix}tl {
	text-align: left !important;
}

#{vd.$computed-prefix}tr {
	text-align: right !important;
}

#{vd.$computed-prefix}td-lh {
	text-decoration: line-through !important;
}

#{vd.$computed-prefix}td-ul {
	text-decoration: underline !important;
}

#{vd.$computed-prefix}line-nowrap, #{vd.$computed-prefix}nowrap {
	white-space: nowrap !important;
}

#{vd.$computed-prefix}line-wrap, #{vd.$computed-prefix}break {
	word-break: break-all;
	overflow-wrap: break-word;
	text-wrap: wrap;
}

/**
 * 一行文字
 */
#{vd.$computed-prefix}line-one {
	@include mc.common-text-line(1);
}

/**
 * 两行文字
 */
#{vd.$computed-prefix}line-two {
	@include mc.common-text-line(2);
}
