@use "sass:map";
@use "sass:list";
@use "../../functions/index" as fi;

$base-options: ("name": font-weight);

// 如输出全局g-fw-#{值}
@mixin font-weight($list, $options: ()) {
	$options: fi.merge($base-options, $options);
	$prefix: fi.prefix($base-options, $options);

	@for $i from 1 through list.length($list) {
		$value: list.nth($list, $i);
		$suffix: fi.suffix($value, $options);
		#{$prefix}#{$suffix} {
			font-weight: $value;
		}
	}
}
