@use "sass:map";
@use "sass:list";

@import "../../functions";

$base-options: ("name": font-size);

@mixin fontSize($list, $options: ()) {
	$options: merge($base-options, $options);
	$prefix: prefix($base-options, $options);

	@for $i from 1 through length($list) {
		$value: list.nth($list, $i);
		$suffix: #{suffix($value, $options)};
		$_value: unitfix($value, $options);

		#{$prefix}#{$suffix} {
			font-size: $_value;
		}
	}
}
