@use "sass:map";

@import "../../functions";

$base-options: (allow-css-variables: false, theme: ());

@mixin theme($prefix, $options: ()) {
	$options: merge($base-options, $options);
	$theme: map.get($options, 'theme');
	$allow-css-variables: map.get($options, 'allow-css-variables');

	@if ($allow-css-variables) {
		#{$prefix} {
			@each $key, $value in $theme {
				--#{$key}: #{$value};
			}
		}
	}
}
