@use "./variables/default" with (
	$allow-css-variables: true,
	$unit: rem,
	$scale: 2,
	$prefix: rg,
);
@use "./outputs/font-size";
@use "./outputs/line-height";
@use "./outputs/margin";
@use "./outputs/padding";
